$color: green;

%base{
  font-family: san-serif;
  color: $color;
}

h1 {
  @extend %base;
  text-align: center;
  border: 2px solid green;
}

p {
  @extend %base;
}

.center {
  text-align: center;
}

#description {
  color: $color;
  font-size: 20px;
}

@media screen and (max-width: 800px){
  h1{
    display: none;
  }
}

div {
  ol{
    color: $color
  }
}
